body{
    font-family: sans-serif;
    margin: 0px;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.container{
    width: 100%;
    max-width: 920px;
    height: 100%;
    min-height: 1754px;
    margin: 0px auto;
}

.sidebar{
    width: 33%;
    background-color: antiquewhite;
}

.main{
    width: 66%;
    background-color: aqua;
}